GPA/xsd/femimp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Antonio (4S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MESSAGE">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="FEMIMP">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FEMIMP_NAW_CODE_CM" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SHP_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SHP_LINE_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ARRIV_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ARRIV_LINE_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="WRH_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CM_ORD_NUM_FEMIMP" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CM_ORD_POS_NO_FEMIMP" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SHP_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ART_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ART_DESC" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_QUAN" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_ORG" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_PROV" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_DEST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_NAW_CODE_RCV_CM" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_NAW_CODE_RCV_BILL" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_CUS_ART_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_PREF_CODE1" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_PREF_CODE2" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_TRANS_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MOT_CODE_FEMIMP" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_TRANS_TYPE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_VAT_VAL" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SLS_VALUE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_AUTH_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_IMP_LIC" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_IMP_LIC_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_EXP_LIC" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SPARE_FLD2" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_COM_PREF" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_TRANS_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_NO_ADD_UNITS" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_CRDATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_CRTIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_PROS_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_PROS_TIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_DOC_TYPE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SPARE_FLD1" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ARRIV_PLACE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CURR_CODE_SLS_FEMIMP" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_CERT_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_DOC_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_EXP_LIC_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SPARE_FLD3" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SPARE_FLD4" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ADD_UNITS" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_OTH_COST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="5"/>
										<xs:minExclusive value="-1000000000000"/>
										<xs:maxExclusive value="1000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ADD_DOC_TYPE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_ADD_DOC_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_INT_STAT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_SCO_IND" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_PRELIM_IND" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMIMP_TA_IND" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
