GPA/xsd/femtra.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Antonio (4S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MESSAGE">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="FEMTRA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FEMTRA_NAW_CODE_CM" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_SHP_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_SHP_LINE_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_ARRIV_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_ARRIV_LINE_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="WRH_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_CM_ORD_NUM" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_CM_ORD_POS_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_SHP_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_ART_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_ART_DESC" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_QUAN" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_GR_WGT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_NT_WGT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_ORG" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_PROV" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_DEST" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_MRN" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="21"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_DOC_TYPE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_DOC_ISSUE_PLACE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_DOC_ISSUE_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_OUT_GNG_VAL" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20"/>
										<xs:fractionDigits value="5"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CURR_CODE_FEMTRA" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NAW_CODE_RCV_CM" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NAW_CODE_BILL_CM" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_CUS_ART_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_FRG_AMT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_LOC_AMT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="2"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_INT_STAT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_MASTER_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_SPARE_FLD" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_CRDATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_PROS_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_PROS_TIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_CRTIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMTRA_TA_INDICATOR" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
