GPA/GPA/xsd/feminb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Antonio (4S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MESSAGE">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="FEMINB">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FEMINB_NAW_CODE_CM" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ARRV_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ARRIV_LINE_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="WRH_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_DOC_TYPE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ARRV_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_MRN" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="21"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_DOC_ISSUE_PLACE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_DOC_ISSUE_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_TG_IND" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INVNO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INV_LINE_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INV_DATE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_ORG" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CT_CODE_PROV" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ART_NO" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="26"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ART_DESC" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="KIND_CODE_FEMINB" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_NO_PCS" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_NO_ADD_UNIT" nillable="true">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_ADD_UNITS" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INV_VALUE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="17"/>
										<xs:fractionDigits value="5"/>
										<xs:minExclusive value="-1000000000000"/>
										<xs:maxExclusive value="1000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CURR_CODE_FEMINB" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_GR_WGT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="18"/>
										<xs:fractionDigits value="3"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_NET_WGT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="18"/>
										<xs:fractionDigits value="3"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INCO_TERM" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_DELIV_PLACE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CURR_CODE_FRT_FEMINB" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_FRT_AMT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20"/>
										<xs:fractionDigits value="5"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CURR_CODE_INS_FEMINB" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INS_AMT" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="20"/>
										<xs:fractionDigits value="5"/>
										<xs:minExclusive value="-1000000000000000"/>
										<xs:maxExclusive value="1000000000000000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_PREF_CODE1" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_PREF_CODE2" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_TRANS_CODE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MOT_CODE_FEMINB" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_TRANS_TYPE" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_CONT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:unsignedLong">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="9223372036854775807"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CONT_NO_FEMINB" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_AUTH_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_IMP_LIC" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_IMP_LIC_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_LOC" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_SPARE_FLD" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_COM_PREF" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_TRANS_NO" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_INT_STAT" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_CRDATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_CRTIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_PROS_DATE" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="1000-01-01"/>
										<xs:maxInclusive value="9999-12-31"/>
										<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_PROS_TIME" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="KIND_CODE_FEMINB_D11" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FEMINB_NO_PCS_D12" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="-2147483648"/>
										<xs:maxInclusive value="2147483647"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
